$font1: 'Montserrat', sans-serif;
$font2: 'Playfair Display', serif;
$fs1920: 18px;
$mainTextColor: #403637;
$borderBottom: 1px solid #987A6E;
$btnColor: #DD7D5C;
$catalogTextColor: #987A6E;
$catalogBtnBorder: 1px solid #D79081;
$catalogBtnBackgrond: #DD7D5C;
$catalogBtnColor: #FDFBFA;
$catalogBackground: #FEFEFE;
$catlogBorder: 1px solid #CBA696;
$infoColor: #CBA696;
$infoBg: #E8D4C9;
$pt1920: 9.38em;


.const {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.constLeft{
    width: 915px;
    height: 30%;    
    margin-left: auto;
}

.constP {
    font-family: $font2;
    width: 100%; 
    font-size: 16.6em;
    letter-spacing: 0.01em;
    color: #FCF9F7;
    position: absolute;
    left: -40px;
}

body {
    font-family: $font1;
    font-size: $fs1920;
}

// .blur{
//     -ms-filter: blur(5px);
//     -webkit-filter: blur(5px);
//     -moz-filter: blur(5px);
//     -o-filter: blur(5px);
//     filter: blur(5px); 
// }

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none; 
    outline: none; 
    -webkit-tap-highlight-color: transparent;  
}

ul, li {
    display: flex;
    margin: 0;
}

.wrapper {
    @extend .const;
    width: 90%;
    height: 100%;
    max-width: 1680px;   
    margin: auto;  
}

.pt {
    padding-top: $pt1920;
}

.pt2 {
    padding-top: 5.55em;
}

.column{
    @extend .const;
    flex-direction: column;
}

.descriptions{
    width: 100%;
    margin-bottom: 2.22em;
    h2{
        font-size: 2em;
        font-family: $font2;
        color: $mainTextColor;
        font-weight: bold;
        line-height: 50px;
    }

    p{
        font-size: $fs1920;
        color: $mainTextColor;
        line-height: 130%;
        margin-bottom: .61em;
        font-weight: 500;
    }
}

.logo {
    width: 162px;
    height: 48px;
}

header {
    @extend .const;
    height: 80px;
    background: #E8D4C9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .nav{
        max-width: 1083px;
        height: 100%;
        margin-left: auto;
        display: flex;
        align-items: center;
        border-bottom: $borderBottom;
        width: 100%;

        .nav__list {
            @extend .const;
            width: 1000px;
            margin-left: auto;
            padding:0;

            .nav__item{

                .nav__link{
                    color: $mainTextColor;

                    &::after{
                        display: block;
                        content: "";
                        border-bottom: $borderBottom;
                        width: 21px; 
                        opacity: 0;
                        transition: opacity 1s ease;   
                    }
                    &:hover::after{
                        opacity: 1;    
                    }
                }
            }   
        }         
    }   
}

.container{
    height: 100%;   
}

#main{
    @extend .const;
    position: relative;

    .main{
        @extend .const;
        width: 100%;
        height: 100vh; 

        
    
    }
}

.desc{
    width: 54%;
    height: 100%;   
    display: inline-flex;
    flex-direction: column;
    
    .desc__name{
        @extend .constLeft;
        position: relative;

        p {
            @extend .constP;
            bottom: -25%;
        }
    }

    .desc__description{
        width: 100%;
        height: 70%;
        background: #FCF9F7;

        .desc__wrap{
            max-width: 915px;
            width: 90%;
            margin-left: auto;            
        }

        .desc__info{
            margin-left: auto;

            h1{
                font-size: 8.5em;
                font-family: $font2;
                font-weight: bold;
                color: $mainTextColor;
                margin-top: 60px;
                margin-bottom: 30px;
            }

            .desc__p{
                margin-bottom: 4.88em;

                p{
                    font-size: 1.66em; 
                    color: $mainTextColor;
                    line-height: 2.33em;
                } 
            }                      
        }
    }   
}

.pic{
    width: 46%;
    height: 100%;

    .pic__wrap{
        max-width: 765px;
        width: 90%;
        height: 100%;
        margin-right: auto;
        position: relative;            
    }

    .pic__img{
        width: 864px;
        margin-right: auto;
        height: 775px;
        position: absolute;
        top: 8em;
        right: 0;
        overflow: hidden;
        z-index: 6; 
        
        .pic__img_pict{
            width: 100%;
        }

    }
}

.btn{
    font-family: $font2;
    border: 1px solid $btnColor;
    background: $btnColor;
    color: #FDFBFA;
    letter-spacing: 0.02em;
    padding: .94em 2.77em;
    margin-left: 5px;
    box-shadow: 5px 5px 0 1px white, 5px 5px 0 2px $btnColor, 
                -5px -5px 0 1px white, -5px -5px 0 2px $btnColor;
    transition: box-shadow .5s ease, filter .5s ease;

    &:hover{
        filter: contrast(150%);
        box-shadow: 1px 1px 0 1px white, 1px 1px 0 2px $btnColor, 
                -1px -1px 0 1px white, -1px -1px 0 2px $btnColor;
    }
    
    &:active{
        filter: contrast(300%);
        box-shadow: 1px 1px 0 1px white, 1px 1px 0 2px $btnColor, 
                -1px -1px 0 1px white, -1px -1px 0 2px $btnColor,
                0 0 0 2px $btnColor inset, 0 0 0 4px white inset;
    }
}
.catalog__cards {
    @extend .const;
    flex-wrap: wrap;
    width: 100%;

    .catalog__card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 390px;
        height: 597px;
        margin-bottom: 2.22em;

        .catalog__card_item {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 330px;
            height: 459px;
            padding: 1.66em;
            background: $catalogBackground;
            transition: all .5s ease;
            border: 1px solid rgba($color: #CBA696, $alpha: 0);

            &:hover, #catalogClass:hover {
                border: 1px solid rgba($color: #CBA696, $alpha: 1);
            }

            .catalog__card_pic {
                width: 328px;
                height: 328px;
                position: relative;
                overflow: hidden;

                img {
                    position: absolute;
                    top: center;
                    left: center;
                }
            }

            .catalog__card_desc {
                width: 328px;
                height: 80px;
                color: $catalogTextColor;
                line-height: 26px;

                h3 {
                    font-size: 1em;
                    font-weight: 500;
                }

                p {
                    font-size: .88em;
                }
            }
        }

        .catalog__card_order {
            display: flex;
            justify-content: space-between;
            padding: 0 1.66em;
            height: 48px;

            .catalog__card_price {
                width: 133px;
                height: 100%;
                display: flex;
                align-items: center;
                font-family: $font2;
                font-weight: bold;
                font-size: 24px;
                color: $catalogTextColor;
                font-style: normal;
                // font-feature-settings: 'pnum' on, 'lnum' on;
            }

            .catalog__card_btn {
                width: 180px;
                height: 100%;
                border: $catalogBtnBorder;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $font2;
                font-weight: bold;
                color: $mainTextColor;
                transition: background-color .5s ease, color .2s ease;

                &:hover {
                    background-color: $catalogBtnBackgrond;
                    color: $catalogBtnColor;
                }
            }
        }
    }


    /* modal */
    /* свойства модального окна по умолчанию */
    .catalogMod {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        background: rgba(64, 54, 55, 0.6);
        opacity: 0;

        /* элемент невидим для событий мыши */
        pointer-events: none;
        margin: 0;
        padding: 0;
        z-index: 9999999;

        &:target {
            opacity: 1;
            /* возвращаем элементу событийность мыши */
            pointer-events: auto;

        }
    }


    /* -----  Выравнивание по середине  -----*/
    .catalogMod__wrap {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 9999999999;

        .catalogMod__container {
            max-width: 817px;
            width: 100%;
            max-height: 544px;
            width: 45.38em;
    
            background-color: #FFFFFF;
            padding: .5em;
            margin: auto;

            .catalogMod__container_elems{
                display: flex;
                margin-bottom: 2em;

                .catalogMod__container_elem{
                    padding: .5em;
                    width: 50%;
                    max-height: 544px;

                    .catalogMod__form{
                        @extend .contacts__question_form;
                        max-width: 255px;
                        margin: auto;

                        .catalog__form{
                            @extend .contacts__form;
                        }

                        .inputMod {
                            display: block;
                            width: 100%;
                            font-size: 16px;
                            border: none;
                            border-bottom: $borderBottom;
                            padding: 12px 14px;
                            box-sizing: border-box;
                            margin-bottom: 22px;
                            color: $mainTextColor;
                            outline: none;
                        }

                        /* Плавающий текст */
                        .box-input {
                            position: relative;
                        }

                        .box-input input {
                            border: none;
                            border-bottom: $borderBottom;
                            padding: 10px 0;
                            background: inherit;
                            max-width: 386px;

                            &:focus{
                                border-bottom-color: $mainTextColor;
                            }
                        }

                        .box-input label {
                            position: absolute;
                            top: 0;
                            left: 0;
                            padding-top: 10px;
                            color:$catalogTextColor;
                            transition: .5s;
                            pointer-events: none;
                        }

                        .box-input input:focus~label,
                        .box-input textarea:focus~label,
                        .box-input input:valid~label,
                        .box-input textarea:valid~label{
                            top: -20px;
                            font-size: 12px;
                            color: $infoColor;                           
                        }

                        /* Анимированный чекбокс */
                        .recover {
                            padding-left: .6em;;
                            margin-top: 15px;
                            font-size: 10px; 
                            
                            label[for='ckboxMod'],
                            label[for='ckbox2Mod'] {
                                cursor: pointer;
                                padding-left: 1.75em;
                                width: 100%;
                                display: block;
                                position: relative;
                            }

                            label[for='ckboxMod']::before,
                            label[for='ckbox2Mod']::before {
                                content: '';
                                position: absolute;
                                border: $catlogBorder;
                                width: 10px;
                                height: 10px;
                                top: -2px;
                                left: 0;
                                transition: .2s;
                            }

                            #ckboxMod:checked+label::before,
                            #ckbox2Mod:checked+label::before {
                                border-top: 2px solid transparent;
                                border-left: 2px solid transparent;
                                border-right: 2px solid $catalogTextColor;
                                border-bottom: 2px solid $catalogTextColor;
                                transform: rotate(40deg);
                                width: 6px;
                                height: 11px;
                                transform-origin: 100% 100%;
                                top: -4px;
                                left: -5px;
                            }

                            #ckboxMod:not(:checked),
                            #ckbox2Mod:not(:checked),
                            #ckboxMod:checked,
                            #ckbox2Mod:checked {
                                display: none;
                            }
                        }

                        #btnForm {
                            @extend .btn;
                            margin-top: 2em;
                            outline: none;
                        }


                    }
                } 

            }
    
               
        }
    }


    .close {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: .5em;
    }

    #close {
        color: #491616;
        font-size: 24px;
    }

    #close:hover {
        color: #fc0000;
    }


    
}
    
.catalog__vector {
    width: 71px;
    height: 1.38em;
    border-bottom: $catlogBorder;
    padding-bottom: 2px;
    margin-top: 10px;
    font-family: $font2;
    color: $mainTextColor;
    font-size: 1em;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;

    .arrow{
        align-self: center;
    }
}

.delivery__cards{
    @extend .const;
    width: 100%;

    .delivery__card{
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 340px;

        h3{
            font-family: $font2;
            font-weight: bold;
            color: $mainTextColor;
            font-size: 1.11em;
            line-height: 27px;
            margin-top: 43px;
            display: inline-flex;
            border-bottom: $catlogBorder;
            padding-bottom: 3px;           
        }

        p{
            font-size: .88em;
            line-height: 26px;
            color: $mainTextColor;
            padding-top: 5px;
        }

        .data{
            margin-top: 5px;
            margin-bottom: 5px;
            padding-top: 0;
            display: flex;
            align-items: center;
            height: 1.11em;
            p{
                display: inline-flex;
            }

            .toggletip-container {
                position: relative;
                display: inline-block;
              }
              
              /* the bubble element, added inside the toggletip live region */
              
              .toggletip-bubble {
                display: inline-block;
                position: absolute;
                right: 0%;
                top: 100%;
                width: 200px;
                padding: 1em;
                background: $catalogBtnColor;
                color: $infoColor;
                font-size: .7em;
                line-height: 18px;
                z-index: 4;
              }
              
              button {
                width: .5em;
                padding-right: 7px;
                padding-left: 5px;
                height: 1.4em;
                font-size: .5em;
                border: 0;
                background: $infoBg;
                font-weight: 600;
                color: $infoColor;
                border: 1px solid $infoBg;
              } 
              
              button:focus {
                outline: none;
                background: $catalogBtnColor;
              }

              .delivery__text_info{            
                padding-left: 1em;
            }
        }

    }
}

#contacts{
    overflow: hidden;
    .contacts{
        display: flex;
        width: 100%;
        height: 100%;

        .cont {
            @extend .descriptions;
            margin-bottom: 0;
            display: flex;
            width: 100%;
            height: 100%;

            .contacts__desc {
                width: 54%;
                height: 100%;
                display: inline-flex;
                flex-direction: column;
            
                .contacts__desc_wrap{
                    max-width: 915px;
                    width: 90%;
                    margin-left: auto; 
                    
                    .contacts__desc_bg {
                        @extend .constLeft;
                        width: 100%;
                        position: relative;
                        max-height: 360px;
                        height: 20em;
                        margin: 0;
            
                        p.bg {
                            @extend .constP;
                            font-size: 18em;
                            position: absolute;
                            top: 20%;
                            // z-index: 2;
                            margin: 0;
                        }
            
                        .contacts__desc_text {
                            max-width: 615px;
                            width: 34em;
                            position: absolute;
                            top: 22%;
                            left: 6.66em;
                            z-index: 3;
            
                            .contacts__desc_p {
                                display: flex;
                                justify-content: space-between;
            
                                p {
                                    display: inline-flex;
                                    padding-top: 54px;
                                }
            
                                .contacts__desc_link {
                                    width: 10.5em;
                                    height: 1.38em;
                                    padding-top: 54px;
                                    font-size: 1em;
                                    letter-spacing: 0.02em;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: flex-end;

                                    a{
                                        color: $mainTextColor;
                                        padding-bottom: 2px; 
                                        border-bottom: $catlogBorder;
                                    }
                                }
                            }
                        }
                    }
            
                    .contacts__desc_map {
                        width: 100%;
                        height: 200px;
                    }
                }               
            }

            .contacts__question{
                width: 46%;
                max-height: 560px;
                height: 100%;
                background: #FCF9F7;
                position: relative;
                z-index: 2;
            
                .contacts__question_wrap{
                    max-width: 765px;
                    width: 90%;
                    height: 560px;
                    margin-right: auto;          
                }
            
                .contacts__question_form {
                    max-width: 460px;
                    width: 34em;
                    padding-top: 4.27em;
                    margin: 0 auto;

                    .contacts__question_mainLabel {
                        font-size: 2em;
                        font-family: $font2;
                        color: $mainTextColor;
                        font-weight: bold;
                        line-height: 50px;
                    }

                    .contacts__form{
                        padding-left: .6em;
                        margin-top: 2em;

                        .input {
                            display: block;
                            width: 100%;
                            font-size: 16px;
                            border: none;
                            border-bottom: $borderBottom;
                            padding: 12px 14px;
                            box-sizing: border-box;
                            margin-bottom: 22px;
                            color: $mainTextColor;
                            outline: none;
                        }

                        textarea{
                            overflow: auto;                           
                        }

                        /* Плавающий текст */
                        .box-input {
                            position: relative;
                        }

                        .box-input input, .box-input textarea  {
                            border: none;
                            border-bottom: $borderBottom;
                            padding: 10px 0;
                            background: inherit;
                            max-width: 386px;

                            &:focus{
                                border-bottom-color: $mainTextColor;
                            }
                        }

                        .box-input label {
                            position: absolute;
                            top: 0;
                            left: 0;
                            padding-top: 10px;
                            color:$catalogTextColor;
                            transition: .5s;
                            pointer-events: none;
                        }

                        .box-input input:focus~label,
                        .box-input textarea:focus~label,
                        .box-input input:valid~label,
                        .box-input textarea:valid~label{
                            top: -20px;
                            font-size: 12px;
                            color: $infoColor;                           
                        }

                        /* Анимированный чекбокс */
                        .recover {
                            padding-left: .6em;;
                            margin-top: 15px;
                            font-size: 10px; 
                            
                            label[for='ckbox'],
                            label[for='ckbox2'] {
                                cursor: pointer;
                                padding-left: 1.75em;
                                width: 100%;
                                display: block;
                                position: relative;
                            }

                            label[for='ckbox']::before,
                            label[for='ckbox2']::before {
                                content: '';
                                position: absolute;
                                border: $catlogBorder;
                                width: 10px;
                                height: 10px;
                                top: -2px;
                                left: 0;
                                transition: .2s;
                            }

                            #ckbox:checked+label::before,
                            #ckbox2:checked+label::before {
                                border-top: 2px solid transparent;
                                border-left: 2px solid transparent;
                                border-right: 2px solid $catalogTextColor;
                                border-bottom: 2px solid $catalogTextColor;
                                transform: rotate(40deg);
                                width: 6px;
                                height: 11px;
                                transform-origin: 100% 100%;
                                top: -4px;
                                left: -5px;
                            }

                            #ckbox:not(:checked),
                            #ckbox2:not(:checked),
                            #ckbox:checked,
                            #ckbox2:checked {
                                display: none;
                            }
                        }

                        #btnForm {
                            @extend .btn;
                            margin-top: 2em;
                            outline: none;
                        }

                    }
  
                }
            }
        }
    }

}

footer{
    @extend .const;
    background: #E8D4C9;
    width: 100%;
    height: 5.55em;

    .foo{
        @extend .const;
        width: 100%;
        height: 100%;
        margin-left: 7em;

        .foo__text{
            
            p{
                margin-top: 6px;
                color: $mainTextColor;
                font-size: 0.8em;
            }
            a{
                color: $mainTextColor;
                font-size: 0.8em; 

            }
            .a{
                border-bottom: $catlogBorder; 
            }
        }

        
    }
}

@media screen and (max-width: 1440px) {

    body{
        font-size: 16px;

        .catalog__card {
            width: 200px;
            height: 380px;
        }
    }
}





